.container {
  font-family: 'Baloo Thambi 2', cursive;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card-holder {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 180px;
  background: #3cb878;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
/*   margin-bottom: 40px; */
/* mohol som pouzit aj v newsletter-form margin-top= 40px; bolo by to to iste   */
  color: white;
  box-shadow: 0px 0px 5px 2px gray;
}

.newsletter-form{
  color: grey;
}

.newsletter-form {
  border: solid thin #cfcfcf;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
}

.closing-x {
  position: absolute;
/*  akoby vyberieme x, je skoro mimo "boxu", musi byt nastavena pozicia relative v newsletter-form, inak nam x ujde uplne mimo boxu pri zadani top: 0px;  */
  top: 0px;
  right: 5px;
/*  umiestnili sme x do praveho horneho rohu boxu  */
  cursor: pointer;
/* ked pojdeme kurzorom na x zmeni sa kurzor na rucku  */
}

.newsletter-form h3 {
  margin-top: 0;
/*  potrebujeme znizit medzeru h3 od hranice */
}

#terms {
  position: relative;
  top: 2px;
  left: 0px;
}

.newsletter-form #email {
  display: block;
  width: 100%;
  border: thin solid #cfcfcf;
  height: 30px;
  padding-left: 3px;
  border-radius: 3px;
  box-sizing: border-box;
}

.newsletter-form button {
  display: block;
  width: 100%;
  background: #3cb878;
  color: white;
  border: 0;
  height: 30px;
  margin-top: 5px;
}

#question-circle {
  height: 100px;
  width: 100px;
  background: #3cb878;
  border-radius: 50%;
/*  50% z height a width, co je kruh  */
  color: white;
  font-size: 70px;
  text-align: center;
  
  position: fixed;
  bottom: 10px;
  right: 10px;
}